* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    /*100vh*/
    background-image: url(../imagenes/fondologinopcion1.jpeg);
    background-size: cover;
}

.form-informacion {
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    padding: 2%;
    /*5*/
    margin: 2%;
    /*2*/
    border-radius: 20px;
    border: solid thin red;
    /*align-items: center;
    justify-content:center;
    text-align: center;*/
    background-color: white;
}



.formulario {
    margin: 5px 0 0 0;
    /*30px*/
    /*5*/
}

.formulario input {
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    padding: 10px;
    margin: 0px 0px 5px 0px;
}

.formulario button {
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    padding: 5px;
    /*5*/
    margin: 20px 5px 0px 0px;
}

#btnregistrar {
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    padding: 5px;
    /*5*/
    margin: 15px 5px 0px 0px;
}

#birthday {
    margin: 15px 0 15px 0;
}

.formulario select {
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    padding: 10px;
    margin: 0px 0px 5px 0px;
}
